<ion-header>
  <ion-navbar>
    <ion-title>
      Recent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <p ion-item *ngFor="let item of items" (click)="itemSelected(item)" >
      {{ item.text }}
      <ion-icon name="play" item-end></ion-icon>
    </p >
    
  </ion-list>
</ion-content>
