<!--
  Generated template for the SuggestUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Suggest Us</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon item-right name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="logForm()">
        <ion-item>
          <ion-label>Suggestion *</ion-label>
          <ion-textarea type="text" [(ngModel)]="todo.suggestion" name="title"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="todo.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="todo.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Phone</ion-label>
            <ion-input [(ngModel)]="todo.phone" name="phone"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Suggest</button>
      </form>
</ion-content>
