<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>      
      
        <ion-list>
          <button ion-item (click)="openAboutUS()">
            <ion-icon name="contact" item-start></ion-icon>
            About US
          </button>
      
          <button ion-item (click)="openSupportUS()">
            <ion-icon name="cafe" item-start></ion-icon>
            Support Us
          </button>
      
          <button ion-item (click)="openSuggestUS()">
            <ion-icon name="chatbubbles" item-start></ion-icon>
            Suggest Us
          </button>
      
        </ion-list>
        
      </ion-card>
      <ion-card>
          <ion-card-header>
              Basic version 0.01 
            </ion-card-header>
            <ion-card-header>
              More functional is comming. Please suggest us.
              </ion-card-header>
      </ion-card>
</ion-content>
