<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item>
      <ion-icon [(name)]="icon" item-start></ion-icon>
      <ion-label>{{gender}}</ion-label>
      <ion-toggle [(ngModel)]="toggleStatus" pulsado checked="false" (ionChange)="Change_Toggle();"></ion-toggle>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-item>
      <ion-label floating>Speak Loud</ion-label>
      <ion-textarea type="text" #name></ion-textarea>
    </ion-item>  
  </ion-list>  
  <div padding>
    <button ion-button (click)="sendText(name)" block>Speak</button>
  </div>
</ion-content>
