<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About Us</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon item-right name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
          I am a passionate developer, eager and enthusiastic to make my skils usefull to others. 
          This is one of those attmpts hoping this app might be helpfull for some dumb people.
        </ion-card-content>
        </ion-card>
        <ion-card>
        <ion-card-content>
          <p>This is basic version covering basic functionality which I focussed. Please reach me and provide your valuble suggestions.
            I will be more happy to recieve feedback from you and all suggestions are appriciated
          </p> 
        </ion-card-content>
      </ion-card>
</ion-content>
