<!--
  Generated template for the SupportUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Support Us</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon item-right name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-card>
            <ion-card-header>
                Basic version 0.01 
              </ion-card-header>
        </ion-card>      
        <ion-card>
        <ion-list>
            <ion-card-content>
                We are group of technical entreprenures,
                We are capable of building web application and mobile application.
            </ion-card-content>
            <ion-card-content>
                Please reach us if you have any idea or project to do.
            </ion-card-content>                     

          <ion-card-content>
              <p>@Team</p>
              <p>nanda.hcja@gmail.com</p>
          </ion-card-content>
          
        </ion-list>    
      </ion-card>
      <ion-card>
        <ion-card-content>
          Donations are most welcome which will be transferred to other non profit Organisations.
        </ion-card-content>
        </ion-card>
</ion-content>
